OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=https://api.openai.com/v1
VLLM_BASE_URL=http://localhost:8000/v1

# Tool server URLs
TOOL_SERVER_DEPTH=http://0.0.0.0:20019
TOOL_SERVER_SEGMENTATION=http://0.0.0.0:20020
TOOL_SERVER_DETECTION=http://10.7.8.94:20022
TOOL_SERVER_PI3=http://10.7.33.15:20030
TOOL_SERVER_MOONDREAM=http://192.168.3.2:20024
TOOL_SERVER_VGGT=http://0.0.0.0:20022
TOOL_SERVER_MAPANYTHING=http://0.0.0.0:20022
